.side-navs {
  position: fixed;
  bottom: 0;
  top: 173px;
  right: 110px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 600px;
  z-index: 1;
} 

.side-nav-li {
  height: 55px;
  width: 160px;
  border-radius: 0px;
  border-bottom: 1px solid #969696;
  margin-bottom: 10px;
  background-color: transparent;
}

.side-nav-li:hover {
  opacity: 40%;
}

/* AMAX */
.side-nav-li-0, 
#side-nav-li-0:hover {
  background-image: url("https://meta-image.s3-us-west-1.amazonaws.com/amax.jpeg");
  background-size: 10rem;
  background-repeat: no-repeat;
}

.side-nav-li-1,
#side-nav-li-1:hover  {
  background-image: url("https://meta-image.s3-us-west-1.amazonaws.com/grau.jpeg");
  background-size: 10rem;
  background-repeat: no-repeat;
}

.side-nav-li-2,
#side-nav-li-2:hover  {
  background-image: url("https://meta-image.s3-us-west-1.amazonaws.com/mp5.jpeg");
  background-size: 10rem;
  background-repeat: no-repeat;
}

.side-nav-li-3,
#side-nav-li-3:hover  {
  background-image: url("https://meta-image.s3-us-west-1.amazonaws.com/fennec.jpeg");
  background-size: 10rem;
  background-repeat: no-repeat;
  height: 70px;
}

.side-nav-li-4,
#side-nav-li-4:hover  {
  background-image: url("https://meta-image.s3-us-west-1.amazonaws.com/kar.jpeg");
  background-size: 10rem;
  background-repeat: no-repeat;
  height: 40px;
}

.side-nav-li-5,
#side-nav-li-5:hover  {
  background-image: url("https://meta-image.s3-us-west-1.amazonaws.com/new_mac.png");
  background-size: 10rem;
  background-repeat: no-repeat;
  height: 85px;
}

.side-nav-li-6,
#side-nav-li-6:hover  {
  background-image: url("https://meta-image.s3-us-west-1.amazonaws.com/ffar.gif");
  background-size: 10rem;
  background-repeat: no-repeat;
}

.side-nav-li-7,
#side-nav-li-7:hover  {
  background-image: url("https://meta-image.s3-us-west-1.amazonaws.com/new_aug.png");
  background-size: 10rem;
  background-repeat: no-repeat;
  height: 58px;
}

.side-nav-li-8,
#side-nav-li-8:hover  {
  background-image: url("https://meta-image.s3-us-west-1.amazonaws.com/tundrapurple.gif");
  background-size: 10rem;
  background-repeat: no-repeat;
  height: 45px;
}

.side-nav-li-9,
#side-nav-li-9:hover  {
  background-image: url("https://meta-image.s3-us-west-1.amazonaws.com/bullfrog.gif");
  background-size: 10rem;
  background-repeat: no-repeat;
}

.side-nav-li-10,
#side-nav-li-10:hover  {
  background-image: url("https://meta-image.s3-us-west-1.amazonaws.com/stoner.gif");
  background-size: 10rem;
  background-repeat: no-repeat;
}

.side-nav-li-11,
#side-nav-li-11:hover  {
  background-image: url("https://meta-image.s3-us-west-1.amazonaws.com/gallo.gif");
  background-size: 10rem;
  background-repeat: no-repeat;
}

.side-nav-li:after {
  position: absolute;
  opacity: 0%;
  width: auto;
  color: white;
  left: 175px;
}

.side-nav-li:hover:after {
  opacity: 50%;
}

#side-nav-li-0:after {
  content: "CR-56 AMAX";
  padding-top: 5px;
}

.side-nav-li-0:after {
  opacity: 100%;
  position: absolute;
}

#side-nav-li-1:after {
  content: "GRAU 5.56";
  text-align: center;
  padding-top: 5px;
}

.side-nav-li-1:after {
  opacity: 100%;
  position: absolute;
}

#side-nav-li-2:after {
  content: "MP5";
  padding-top: 15px;
}

.side-nav-li-2:after {
  opacity: 100%;
  position: absolute;
}

#side-nav-li-3:after {
  content: "FENNEC";
  padding-top: 24px;

}

.side-nav-li-3:after {
  opacity: 100%;
  position: absolute;
}

#side-nav-li-4:after {
  content: "KAR 98K";
  text-align: center;
  width: 70px;
  padding-top: 8px;
}

.side-nav-li-4:after {
  opacity: 100%;
  position: absolute;
}

#side-nav-li-5:after {
  content: "MAC-10";
  width: 65px;
  padding-top: 30px;
}

.side-nav-li-5:after {
  opacity: 100%;
  position: absolute;
}

#side-nav-li-6:after {
  content: "FFAR 1";
  width: 53px;
  padding-top: 16px;
}

.side-nav-li-6:after {
  opacity: 100%;
  position: absolute;
}

#side-nav-li-7:after {
  content: "AUG";
  padding-top: 16px;
}

.side-nav-li-7:after {
  opacity: 100%;
  position: absolute;
}

#side-nav-li-8:after {
  content: "LW3-TUNDRA";
  text-align: center;
}

.side-nav-li-8:after {
  opacity: 100%;
  position: absolute;
}

#side-nav-li-9:after {
  content: "BULLFROG";
  margin-left: -4px;
  padding-top: 16px;
}

.side-nav-li-9:after {
  opacity: 100%;
  position: absolute;
}

#side-nav-li-10:after {
  content: "STONER 63";
  width: 91px;
  margin-left: -4px;
  padding-top: 15px;
}

.side-nav-li-10:after {
  opacity: 100%;
  position: absolute;
}

#side-nav-li-11:after {
  content: "GALLO SA12";
  text-align: center;
  padding-top: 5px;
}

.side-nav-li-11:after {
  opacity: 100%;
  position: absolute;
}
